<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <meta charset="UTF-8">
        <title>BetaGO</title>
    </head>
    <header>
        <h1 class="headerTitle">{{ page.title }}</h1>
        <h1>Testt</h1>
    </header>
    <body>
        <div class="wrapper">
            <div>     
                <div class="sidebar">
                    <p></p>
                    <p>sidebarr</p>
                </div>        
                <div class="content">
                    <p></p>
                    <p></p>
                </div>
            </div>
        </body>
        <footer>
            <p>Eto footer</p>        
        </footer>
    </div>
</html>